body {
    width: 95%;
    background-color: bisque;
    margin: 5% auto;
    padding: 2% auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
    padding-bottom: 15px;
}

ul {
    list-style-type: none;
    text-align: center;
}

li {
    margin: 0 7%;
    display: inline-block;
}

#about, #recipelist {
    padding-top: 7%;
    width: 70%;
    margin: 0 auto;
    max-width: 500px;
}

#about h2, #reciplist h2 {
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

#about p {
    text-indent: 8%;
}

#addheader {
    padding: 20px 0;
    margin: 20px auto;
    text-align: center;

}

form label, form input, form textarea, button {
    display: block;
    margin: 14px auto;
    width: 35%;
    
}

footer {
    position: fixed;
    bottom: 1%;
    width: 100%;
    text-align: center;
}