<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
   <div>
       <h2>Recipe Not Found, Sorry Dude</h2>
       <p>Perhaps there was a typo in your URL? Feel free to search your recipe by title below:</p>
   </div>
   <%- include('./partials/footer.ejs') %>

</body>
</html>