<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>
   <div id="about">
       <h2>About this Collection</h2>
       <p>This is a place for LZ to store recipes she comes across that look like they have good potential. Will be adding functionality soon to edit recipes, add ingredient tags, search by ingredient, as well as user authentication, so that BB can have a separate collection.</p>
   </div>
   <%- include('./partials/footer.ejs') %>

</body>
</html>