<nav>
    <div>
        <h1>Recipes With Potential</h1>
    </div>
    <ul>
        <li><a href="/">Recipes</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/recipes/add">Add New</a></li>
    </ul>
</nav>